
.charcoal {
    font-size: 48px;
    font-weight: bold;
    color: #ffebcd;
    text-transform: uppercase;
    text-shadow: 3px 3px #808080;
}
nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    color: #fff;
    padding: 10px;

  
}

h1 {

font-size: 2rem;
margin: 0;
color:#333; 
text-shadow:.09375rem .09375rem .09375rem #000;
text-align:center;
transform: skewY(-10deg);
font-family: sans-serif;
padding-top: 1rem;
padding-bottom: 2rem;
}

h1 span {
text-transform: uppercase;
display:inline-block;
padding: 10px 10px;
background-color: #bd4f61;
color:blanchedalmond;
border-radius: 20px 0; 
font-size: 8rem;
}

li {
  
    border-top: #000;
    margin: 1rem;
    display: inline-block;  
    text-decoration: none;      
    margin: 3rem;    
    font-size: 4rem;
    text-align: left;
    color: black;
    }
    
    
    nav {
    
    
    border-top: #000;
    width: 100%;
    line-height: 0.5;
    text-align: left;
    font-size: 1.1rem;
    border: solid black;
    font-family: sans-serif;
    
    }
    
      a {
      text-decoration: none;
      font-family: sans-serif;
      color: navy;
      
      }
      
      html {
      font-family: sans-serif; 
      }
      